app-admin-login {
    background-color: aqua;
    .red{
        color: red;
    }

    .body{
        color: white;
        background-color: black;
    }

    .form{
        color: white;
        margin-top: 30%;
    }

    .inp{
        color: white;
        background-color: black;
    }

    .btn{
        color: white;
    }

}
